*.sh text eol=lf
*.rb text eol=lf
*.lua text eol=lf
*.htm text eol=lf
*.js text eol=lf
*.conf text eol=lf
VERSION text eol=lf
README.md text eol=lf
*.md text eol=lf
*.init text eol=lf
*.hotplug text eol=lf
